@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WinFont";
  src: url("/src/fonts/px_sans_nouveaux.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
